
  .custom-image {
    width: 80px; 
    height: 80px; 
  }
  
  .custom-image-col {
    text-align: center; 
  }
  
  .custom-image-row {
    margin-left: -10px; 
    margin-right: -10px;
  }
  
  .custom-image-col {
    padding: 10px; 
  }
    
       

   


    